<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magisterka</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/overlay.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body class="grid h-full grid-cols-8">
    <div class="flex flex-col items-center justify-center h-full bg-bg-primary col-span-3">
        <div class="p-10">
            <div>
                You will take part in a study on the impact of different pricing strategies used by fast food chains to increase your willingness to pay.
            </div>
            <br>
            <div>
                The research is conducted for scientific purposes and is anonymous. Your answers will help my masters thesis.
            </div>
            <div>
                The survey should be completed on a computer.
            </div>
            <div class="text-base">
                The survey should take up to <span class="font-bold">10 minutes</span>.
            </div>
            <br>
            <div class="text-base">
                The survey consists of <span class="font-bold">3 parts</span>: 
            </div>
            <div>
                1. Questionnaire about your demographics and characteristics,
            </div>
            <div>
                2. Questionnaire about your willingness to pay (Direct),
            </div>
            <div>
                3. Questionnaire about your product attributes perception,
            </div>
            <div>
                4. Simulation of a restaurant self ordering kiosk experience (Indirect).
            </div>
        </div>
        <div id="steps-container" class="mt-auto py-10">
            <ul class="steps">
                <li class="step step-success">Information</li>
                <li class="step">Demographics</li>
                <li class="step">Direct</li>
                <li class="step">Indirect</li>
                <li class="step">Discrete</li>
                <li class="step">End</li>
            </ul>
        </div>
    </div>    
    <div class="flex flex-col items-center justify-center h-full bg-bg-secondary col-span-5">
        <div id="form-container" class="relative flex flex-col items-start justify-center bg-bg-primary rounded w-97 kiosk-container-height m-auto">
            <div id="overlay" class="absolute inset-0 flex flex-col items-center justify-center bg-bg-primary z-50 rounded" hx-get="/updated_steps?step=2" hx-target="#steps-container">
                <div class="text-text-primary font-extrabold text-2xl">Tap to start</div>
                <svg class="animate-bounce w-6 h-6 text-text-primary mt-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                </svg>
            </div>
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl text-center w-full py-10">Part 1.</h1>
            <form class="max-w-sm mx-auto flex flex-col" action="/submit_person" method="POST">
                <div class="grid grid-cols-2 gap-y-12 gap-x-4 flex-grow">
                    <!-- AGE -->
                    <div>
                        <label for="age" class="block mb-2 text-sm font-bold text-gray-900">Age</label>
                        <input type="number" id="age" name="age" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" placeholder="18" required />
                    </div>
    
                    {% for question in questions %}
                    <div>
                        <label for="{{ question.id }}" class="block mb-2 text-sm font-bold text-gray-900">{{ question.label }}</label>
                        <select id="{{ question.id }}" name="{{ question.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" required>
                            <option value="" selected disabled hidden>Select {{ question.label }}</option>
                            {% for option in question.options %}
                                <option>{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                </div>
                <div class="flex justify-end mt-6 py-10">
                    <button type="submit" class="bg-success hover:bg-btn-accept-hover text-white font-bold py-2 px-5 rounded">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
